<h1> "Puppy Love NYC Shelters" </h1>
<%= video_tag "video.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, playsinline: :playsinline, class: "home_video" %>


<% @shelters.each do |shelter| %>
   NAME: <%= link_to shelter.name, shelter %>
  <br>
   Borough: <%= shelter.location %><br>
   <br>
 <% end %>

 <button><%= link_to  "Return to Profile Page", profile_path %></button>


